<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <!-- ---------------------loader----------------- -->
    <div class="loader_bg" id="loading">
        <div class="loader"><img src="img/loading.gif" alt="#" /></div>
    </div>
    <!-- ---------------------loader----------------- -->

    <!-- --------------navbar------------------------ -->

    <header class="header bg">
        <nav class="navbar navbar-expand-md ">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="img/logo.png" alt="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><img src="img/menu_icon.png" alt="#"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link text-uppercase " aria-current="page" href="#">about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase " href="#">screenshot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase " href="#">contact</a>
                        </li>

                    </ul>
                    <div class="d-flex Call d-md-inline-block d-none">
                        <a href="">
                            <span class="yellow call-us">Call Us:</span>
                            <span class="brown">1234567890</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- --------------navbar------------------------ -->

    <!-- -----hero------ -->
    <section class="main bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 main-left">
                    <div class="main-text">
                        <h1 class="heading text-start">Healthy Food Recipes</h1>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majorityomised words
                            which don't look even slightly believable</p>
                        <a href="#" class="read-more">Read More</a>

                    </div>
                </div>
                <div class="col-md-6 main-right">
                    <form id="request">
                        <div class="row main-form">
                            <div class="col-md-12">
                                <input class="contactus text-light" placeholder="Name" type="type" name="Name">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder=" Email" type="type" name="Email">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder=" Phone Number" type="type" name="Phone Number">
                            </div>
                            <div class="col-md-12">
                                <textarea class="contactus" placeholder="Message" type="type"
                                    Message="Name">Message </textarea>
                            </div>
                            <div class="col-md-12">
                                <button class="send-btn text-uppercase">Send</button>
                            </div>


                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <!-- -----hero------ -->

    <!-- -------food------- -->
    <section class="food">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="food-title">
                        <h2>
                            <strong class="yellow">Food</strong>
                            Packages
                        </h2>
                        <span>There are many variations of passages of Lorem Ipsum available, but the majorityomised
                            words which don't look
                            even slightly believable</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="food-box">
                        <i>
                            <img src="img/food1.png" alt="">
                        </i>
                        <h4>Homemade</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-box">
                        <i>
                            <img src="img/food2.png" alt="">
                        </i>
                        <h4>Noodles</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food-box">
                        <i>
                            <img src="img/food3.png" alt="">
                        </i>
                        <h4>Egg</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable</p>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- -------food------- -->




    <!-- -----work----- -->
    <section class="work">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="food-title">
                        <span class="sm-title">How It Works</span>
                        <h2>
                            <strong class="yellow">3 Steps For</strong>
                            Healthy Eating
                        </h2>

                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom:80px;">
                <div class="col-md-4">
                    <div class="work-box" id="white-box">
                        <h4>01</h4>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box" id="white-box">
                        <h4>02</h4>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box" id="white-box">
                        <h4>03</h4>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- -----work----- -->

    <!-- ----clients---- -->
    <section class="clients">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <div class="move-right">
                        <div class="food-title text-light">
                            <h2>
                                <strong class="yellow">Client</strong>
                                Says
                            </h2>

                        </div>

                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <ol class="carousel-indicators">
                                <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active circle-slide" aria-current="true" aria-label="Slide 1"></li>
                                <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2" class="circle-slide"></li>
                                <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3" class="circle-slide"></li>
                            </ol>
                            <div class="carousel-inner c-inner ">
                                <div class="carousel-item active">
                                    <img src="img/client.png" class="client-img" alt="">
                                    <div class="d-block w-100 bg-light scroll-box">
                                        <h4>Mark Du</h4>
                                        <p> It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout. The point of using
                                            Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                        </p>
                                        <img src="img/toy_img.png" alt="">

                                    </div>

                                </div>
                                <div class="carousel-item">
                                    <img src="img/client.png" class="client-img" alt="">
                                    <div class="d-block w-100 bg-light scroll-box">
                                        <h4>Mark Du</h4>
                                        <p>It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout. The point of using
                                            Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                        </p>
                                        <img src="img/toy_img.png" alt="">

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="img/client.png" class="client-img" alt="">
                                    <div class="d-block w-100 bg-light scroll-box">
                                        <h4>Mark Du</h4>
                                        <p> It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout. The point of using
                                            Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                        </p>
                                        <img src="img/toy_img.png" alt="">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-md-5">
                    <figure>
                        <img src="img/food4.png" class="food-4" alt="">
                    </figure>
                </div>
            </div>
        </div>

    </section>
    <!-- ----clients---- -->

    <!-- -----------------quote--------------- -->
    <section class="quote">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="cont">
                        <h3>Free Multipurpose
                            Responsive Landing Page 2019</h3>
                        <p>Modern lighting fast & easily Customizable</p>
                        <button class="quote-btn">Get A Quote</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -----------------quote--------------- -->

<!-- ---------------------footer----------------- -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                Copyright 2019 All Right Reserved By muskan rani
                 
        </p>
            </div>
        </div>
    </div>
</footer>
<!-- ---------------------footer----------------- -->

    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>

    <script>
        document.body.onload = () => {
            document.getElementById("loading").style.display = "none";
        }
    </script>
</body>

</html>